<!DOCTYPE html>
<html>
  <head>
         <title>{{title}}</title>
         <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="#"><h3>Sass Example</h3></a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
      {{{body}}}
    <div>
      <h1 class="big">IT'S SASSY</h1>
    </div>
  </main>
  <footer>
      <small>&copy; rminor-g41</small>
  </footer>
  </body>
</html>
