<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <h1>sass setup</h1>
    </header>
    <main>
      <nav>
        Navigation
        <ul><a href="#">Nav item 1</a></ul>
        <ul><a href="#">Nav item 2</a></ul>
        <ul><a href="#">Nav item 3</a></ul>
      </nav>
      <article>
        {{{body}}}
      </article>
    </main>
    <footer>
        <small>&copy; g41</small>
    </footer>
</body>

</html>
