<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <h1>sass setup</h1>
    </header>
    <nav>
        <ul>
            <li>Hello</li>
            <li>Hi</li>
            <li>Whatup</li>
            <a href="">Clickin</a>
        </ul>
    </nav>
    <main>
        {{{body}}}
    </main>
    <footer>
        <small>&copy; g41</small>
    </footer>
</body>

</html>
