<!DOCTYPE html>
<html>
  <head>
         <title>{{title}}</title>
         <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
  <nav>
    <ul>
      <li> <a href="#">Home</a></li>
      <li> <a href="#">About</a></li>
      <li> <a href="#">Contact</a></li>
    </ul>
  </nav>
  <main>
      {{{body}}}
  </main>
  <footer>
      <small>&copy; g41</small>
  </footer>
  </body>
</html>
